@{
    ViewData["Title"] = "ChangePassword";
}

@section Scripts{
    <script>
        @await Html.PartialAsync("_ValidationScriptsPartial")
    </script>
}

@model ChangePassword
<!-- profile area start -->
<section class="profile__area pt-120 pb-120">
    <div class="container">
        <div class="profile__inner p-relative">
            <div class="profile__shape">
                <img class="profile__shape-1" src="~/img/login/laptop.png" alt="">
                <img class="profile__shape-2" src="~/img/login/man.png" alt="">
                <img class="profile__shape-3" src="~/img/login/shape-1.png" alt="">
                <img class="profile__shape-4" src="~/img/login/shape-2.png" alt="">
                <img class="profile__shape-5" src="~/img/login/shape-3.png" alt="">
                <img class="profile__shape-6" src="~/img/login/shape-4.png" alt="">
            </div>
            <div class="row">
                <div class="col-md-8 offset-2">
                    <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert"> </div>
                    <div class="profile__tab-content">
                        <div class="tab-content" id="profile-tabContent">
                            <div class="tab-pane fade show active" id="nav-password" role="tabpanel" aria-labelledby="nav-password-tab">
                                <h3 class="profile__info-title">Change Password</h3>
                                <div class="profile__password">
                                    <form asp-controller="Member" asp-action="ChangePassword" method="post">
                                        <div class="row">
                                            <div class="col-xxl-12">
                                                <div class="tp-profile-input-box">
                                                    <div class="tp-contact-input">
                                                        <input asp-for="OldPassword">
                                                    </div>
                                                    <div class="tp-profile-input-title">
                                                        <label asp-for="OldPassword">Old Password</label>
                                                    </div>
                                                    <span class="text-danger" asp-validation-for="OldPassword"></span>
                                                </div>
                                            </div>
                                            <div class="col-xxl-6 col-md-6">
                                                <div class="tp-profile-input-box">
                                                    <div class="tp-profile-input">
                                                        <input asp-for="NewPassword">
                                                    </div>
                                                    <div class="tp-profile-input-title">
                                                        <label asp-for="NewPassword">New Password</label>
                                                    </div>
                                                    <span class="text-danger" asp-validation-for="NewPassword"></span>
                                                </div>
                                            </div>
                                            <div class="col-xxl-6 col-md-6">
                                                <div class="tp-profile-input-box">
                                                    <div class="tp-profile-input">
                                                        <input asp-for="ConfirmPassword">
                                                    </div>
                                                    <div class="tp-profile-input-title">
                                                        <label asp-for="ConfirmPassword">Confirm Password</label>
                                                    </div>
                                                    <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
                                                </div>
                                            </div>
                                            <div class="col-xxl-6 col-md-6">
                                                <div class="profile__btn">
                                                    <button type="submit" class="tp-btn">Update</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- profile area end -->
