@model Category


<div class="modal-body">
    <form asp-action="Delete" method="post">
        <input asp-for="Id" hidden />
        <div class="form-group">
            <label asp-for="Name" class="control-label">Category Name</label>
            <input asp-for="Name" class="form-control" disabled />
        </div>
        <button type="submit" class="btn btn-danger">Delete</button>
    </form>
</div>
