@{
    ViewData["Title"] = "ForgetPassword";
}

@model ForgetPassword

@section Scripts{
    <script>
        @await Html.PartialAsync("_ValidationScriptsPartial")
    </script>
}

<!-- login area start -->
<section class="tp-login-area pb-140 p-relative z-index-1 fix">
    <div class="tp-login-shape">
        <img class="tp-login-shape-1" src="~/img/login/login-shape-1.png" alt="">
        <img class="tp-login-shape-2" src="~/img/login/login-shape-2.png" alt="">
        <img class="tp-login-shape-3" src="~/img/login/login-shape-3.png" alt="">
        <img class="tp-login-shape-4" src="~/img/login/login-shape-4.png" alt="">
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-8">
                <div class="tp-login-wrapper">
                    <div class="tp-login-top text-center mb-30">
                        <h3 class="tp-login-title">Reset Password</h3>
                        <p>Enter your email address to request password reset.</p>
                    </div>

                    <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert">
                    </div>
                    <form asp-controller="Home" asp-action="ForgetPassword" method="post">
                        <div class="tp-login-option">
                            <div class="tp-login-input-wrapper">
                                <div class="tp-login-input-box">
                                    <div class="tp-login-input">
                                        <input asp-for="Email" placeholder="bookdiaries@mail.com">
                                    </div>
                                    <div class="tp-login-input-title">
                                        <label asp-for="Email">Your Email</label>
                                    </div>
                                    <span class="text-danger" asp-validation-for="Email"></span>
                                </div>
                            </div>
                            <div class="tp-login-bottom mb-15">
                                <button type="submit" class="tp-login-btn w-100">Send Mail</button>
                            </div>
                            <div class="tp-login-suggetions d-sm-flex align-items-center justify-content-center">
                                <div class="tp-login-forgot">
                                    <span>Remember Passowrd? <a asp-action="Login"> Login</a></span>

                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- login area end -->