@{
    ViewData["Title"] = "ResetPassword";
}

@model ResetPassword

<!-- register area start -->
<section class="tp-login-area pb-140 p-relative z-index-1 fix">
    <div class="tp-login-shape">
        <img class="tp-login-shape-1" src="~/img/login/login-shape-1.png" alt="">
        <img class="tp-login-shape-2" src="~/img/login/login-shape-2.png" alt="">
        <img class="tp-login-shape-3" src="~/img/login/login-shape-3.png" alt="">
        <img class="tp-login-shape-4" src="~/img/login/login-shape-4.png" alt="">
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-8">
                <div class="tp-login-wrapper">
                    <div class="tp-login-top text-center mb-30">
                        <h3 class="tp-login-title">CREATE NEW PASSWORD</h3>
                    </div>
                    <div class="tp-login-option">

                        <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert">
                        </div>
                        <form method="post" asp-action="ResetPassword">
                            <div class="tp-login-input-wrapper">
                                <div class="tp-login-input-box">
                                    <div class="tp-login-input">
                                        <input asp-for="Password" id="tp_password1" type="password" placeholder="Min. 6 character">
                                    </div>
                                    <div class="tp-login-input-eye" id="password-show-toggle1">
                                        <span class="toggle-password" id="open-eye1">
                                            Show
                                        </span>
                                    </div>
                                    <div class="tp-login-input-title">
                                        <label for="tp_password1" asp-for="Password">New Password</label>
                                    </div>
                                    <span class="text-danger" asp-validation-for="Password"></span>
                                </div>
                                <div class="tp-login-input-box">
                                    <div class="tp-login-input">
                                        <input id="tp_password2" type="password" asp-for="ConfirmPassword" placeholder="Min. 6 character">
                                    </div>
                                    <div class="tp-login-input-eye" id="password-show-toggle2">
                                        <span class="toggle-password" id="open-eye2">
                                            Show
                                        </span>
                                    </div>
                                    <div class="tp-login-input-title">
                                        <label for="tp_password2" asp-for="ConfirmPassword">Confirm New Password</label>
                                    </div>
                                    <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
                                </div>
                            </div>
                            <div class="tp-login-bottom">
                                <button class="tp-login-btn w-100" type="submit">Create New Password</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- register area end -->
@section Scripts{
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            document.querySelectorAll('.toggle-password').forEach(function (element) {
                element.addEventListener('click', function () {
                    var passwordInputId = this.parentElement.previousElementSibling.querySelector('input').id;
                    var passwordInput = document.getElementById(passwordInputId);
                    if (passwordInput.type === 'password') {
                        passwordInput.type = 'text';
                        this.textContent = 'Hide';
                    } else {
                        passwordInput.type = 'password';
                        this.textContent = 'Show';
                    }
                });
            });
        });

    </script>
    <script>
        @await Html.PartialAsync("_ValidationScriptsPartial")
    </script>
}



