@model ShopVM

@{
    ViewData["Title"] = "Search Results";
}

<h1 class="text-center">Search Results</h1>

@if (Model.ProductList.Any())
{
    <div class="container"> 
        <div class="row justify-content-center"> 
            @foreach (var product in Model.ProductList)
            {
                <div class="col-md-4 mb-3 text-center">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">@product.Title</h5>
                            <p class="card-text">Author: @product.Author.Name</p>
                        </div>
                        <div class="card-footer">
                            <a href="@Url.Action("BookDetails", "Books", new { id = product.Id })" class="btn btn-primary">View Details</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}
else
{
    <p class="text-center">No results found.</p> <!-- Center this text if no results -->
}

